/laskarit/viikko2/maksukortti/nbproject/
/laskarit/viikko2/maksukortti/target/
/laskarit/viikko2/Unicafe/target/
/MahjongManager/target/*
/MahjongManager/nbproject/*
/MahjongManager/MjDb.db
/MahjongManager/MjTest.db
/MahjongManager/nbproject/*
/DS_*
*.DS_Store
